* {
    text-align: center;
}

.main-input {
    padding: 2em;
    margin: auto;
    margin-left: 3em;
    size: 200%;
}

.btn_primary {
    background-color: white;
    padding: 0.8rem 1rem 0.7rem;
    border: 0.2rem solid #4d4d4d;   
    cursor: pointer;
    text-transform: capitalize;
}

