.App {
  text-align: center;
  background-color: #9999FF;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

/* Flashcard test */

.flashcard-text-1 {
  height: 10em;
  width: 5em;
  margin: auto;
  border: 0.1em solid red;
  border-radius: 1em;
  overflow: hidden;
}

/* Navbar */

/* Other Changes */

.title_container {
  width: 100%;
  height: 100px;
  background: rgb(255,9,49);
  background: linear-gradient(90deg, rgba(255,9,49,1) 0%, rgba(246,149,237,1) 59%, rgba(117,0,255,1) 100%);
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.container {
  width: 50%;
  height: 100px;
  background: rgb(235,255,9);
background: linear-gradient(90deg, rgba(235,255,9,1) 0%, rgba(149,246,176,1) 62%, rgba(43,200,208,1) 100%);
  border-style: solid;
  border-width: 3px;
  border-color: black;
}

.title_text {
  font-family: monospace;
  font: 'Monaco';
  color: white;
  font-size: 70px;
  margin: 0 auto;
  text-align: center;
}

.mascot_img {
  position:absolute;
  width: 200px;
  height:200px;
  right:0
}

.mascot_div {
  position: relative;
  height: 100%;
  width: 100%;
  color: green;
}